.lxc-unit-wrapper {
    padding: 0 15px;
}

.lxc-unit-editor-wrapper {
    background: #fff;
    padding: 32px 0 0;
    border: 1px solid $brand-border-color;
    border-radius: 5px;
    margin: 20px 0;
    color: #333;
    font-family: $font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .lxc-unit-editor-wrapper + & {
        margin-top: 30px;
    }

    &,
    & * {
        box-sizing: border-box;
    }
}

.lxc-unit-content-bar {
    width: 100%;
}
