.lxc-unit-wrapper {
    padding: 0 15px;
}

.lxc-unit-editor-wrapper {
    background: #fff;
    padding: 32px 0 0;
    border: 1px solid $brand-border-color;
    border-radius: 5px;
    margin: 0;
    color: #333;
    font-family: $font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .lxc-unit-editor-wrapper + & {
        margin-top: 30px;
    }

    &,
    & * {
        box-sizing: border-box;
    }
}

.lxc-unit-content-bar {
    width: 100%;
}

.lxc-answers-wrapper {
    width: 100%;
    padding: 0 32px;
    min-width: 0;
    margin: 0;
    border: 0;

    @media (max-width: map-get($screen, "mobile")){
        padding: 0 16px;
    }
}

.lxc-answers-title {
    @extend .lxc-unit-title;
}

.lxc-answers-description {
    @extend .lxc-unit-description;
}

.lxc-answers-list {
    border: 1px solid $brand-border-color;
    background-color: $brand-light-background;
    border-radius: 5px;
    counter-reset: answer-item-counter;
    padding: 16px;
    margin-top: 8px;

    @media (max-width: map-get($screen, "mobile")){
        padding: 16px 8px;
    }
}

.lxc-answers-option,
.lxc-answers-another-option {
    padding-left: 24px;
    position: relative;
    box-sizing: border-box;
    width: 100%;

    @media (max-width: map-get($screen, "mobile")){
        padding-left: 18px;
    }

    &:before {
        counter-increment: answer-item-counter;
        content: counter(answer-item-counter, upper-latin);
        position: absolute;
        left: 0;
        top: 6px;
        font-size: 16px;
        color: $brand-color;
        font-weight: normal;
        font-family: $font-normal-bold;

        @media (max-width: map-get($screen, "mobile")){
            top: 33px;
        }
    }

    .lxc-answers-list_short & {
        padding-left: 0;

        &:before{
            display: none;
        }
    }
}

.lxc-answers-option {
    display: flex;
    align-items: flex-start;
    margin-bottom: 13px;
}

.lxc-answers-another-option {
    &:before {
        color: $brand-color-light;

        @media (max-width: map-get($screen, "mobile")){
            top: 11px;
        }
    }
}

.lxc-answers-radio {
    margin: 0 8px 0 0;

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        clip-path: polygon(0 0);
    }
}

.lxc-answers-radio-label {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 0;
    color: transparent;
    overflow: hidden;
    background: url('../../components/UnitEditorWidget/images/radio-incorrect.svg');

    &:hover {
        cursor: pointer;
    }

    .lxc-answers-list_multi & {
        border-radius: 5px;
        background: url('../../components/UnitEditorWidget/images/checkbox-incorrect.svg');
    }

    @media (max-width: map-get($screen, "mobile")){
        margin-top: 26px;
    }

    input:focus + &,
    &:focus,
    &:hover {
        box-shadow: 0 0 3px $brand-color-light;
    }

    input:checked + & {
        background: url('../../components/UnitEditorWidget/images/radio-correct.svg');

        .lxc-answers-list_multi & {
            background: url('../../components/UnitEditorWidget/images/checkbox-correct.svg');
        }
    }
}

.lxc-answers-field-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.lxc-answers-item-wrapper {
    display: flex;
    width: calc(100% - 30px);
    order: 1;
}

.lxc-answers-item {
    @extend .lxc-unit-form-field;
    width: calc(100% - 30px);
    border-radius: 5px 0 0 5px;
    border-right: none;
    order: 1;

    @media (max-width: map-get($screen, "mobile")){
        height: 88px;
    }

    .lxc-answers-list_short &  {
        width: 100%;
        border-radius: 5px;
        border-right: 1px solid $brand-color-light;

        @media (max-width: map-get($screen, "mobile")){
            height: 36px;
        }
    }
}

.lxc-answers-feedback {
    display: none;

    &_open {
        width: calc(100% - 30px);
        display: block;
        padding: 16px;
        background: $brand-lightest-background;
        border: 1px solid $brand-color-light;
        border-top: none;
        border-radius: 0 0 5px 5px;
        order: 3;

        @media (max-width: map-get($screen, "mobile")){
            padding: 8px;
        }

        & + .lxc-answers-item-wrapper {
            .lxc-answers-item {
                border-radius: 5px 0 0 0;
            }

            .lxc-answers-feedback-btn {
                border-radius: 0 5px 0 0;
            }
        }
    }
}

.lxc-answers-feedback-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    padding: 0;
    border: 1px solid $brand-color-light;
    border-radius: 0 5px 5px 0;
    order: 2;
    transition: background-color .15s linear;
    background: $brand-lightest-background url('../../components/UnitEditorWidget/images/add-hints.svg') no-repeat center center;
    background-size: 22px;

    &:hover {
        cursor: pointer;
        background-color: darken($brand-lightest-background, 5%);
    }

    @media (max-width: map-get($screen, "mobile")){
        width: 45px;
    }
}

.lxc-answers-feedback-title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;

    .lxc-answers-feedback-field + & {
        margin-top: 16px;
    }
}

.lxc-answers-feedback-field {
    @extend .lxc-unit-form-field;

    @media (max-width: map-get($screen, "mobile")){
      height: 103px;
      padding: 8px;
    }
}

.lxc-answers-remove-btn {
    height: 36px;
    width: 30px;
    background: url('../../components/UnitEditorWidget/images/trash-icon.svg') no-repeat center center;
    border: none;
    transition: opacity .15s linear;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }

    @media (max-width: map-get($screen, "mobile")){
        margin-top: 26px;
    }

    .lxc-answers-list_short & {
        @media (max-width: map-get($screen, "mobile")){
            margin-top: 0;
        }
    }
}

.lxc-answers-another-option-btn {
    @extend .lxc-unit-another-btn;
    width: calc(100% - 30px);
}

.lxc-answers-form-title {
    font-size: 16px;
    margin-bottom: 16px;
}


// Advanced settings

.lxc-advanced-settings {
    display: none;

    &_open {
        display: block;
        width: 100%;
        padding: 32px 32px 0;

        @media (max-width: map-get($screen, "mobile")){
            padding: 32px 16px 0;
        }
    }
}

.lxc-advanced-settings-wrapper {
    width: 100%;
    margin-top: 32px;
    border-top: 1px solid $brand-color-light;
}

.lxc-show-advanced-settings {
    display: block;
    text-align: center;
    padding: 17px;
    width: 100%;
    background: $brand-lightest-background;
    border: none;
    border-radius: 0 0 5px 5px;
    color: $brand-color-dark;
    font-size: 16px;
    line-height: 20px;
    transition: background-color .15s linear;

    &:hover {
        cursor: pointer;
        background-color: darken($brand-lightest-background, 5%);
    }

    .lxc-advanced-settings_open + & {
        border-top: 1px solid $brand-border-color;

        .lxc-show-advanced-settings-icon {
            transform: rotate(180deg);
        }
    }
}

.lxc-show-advanced-settings-icon {
    background: url('../../components/UnitEditorWidget/images/arrow-icon.svg') no-repeat 0 0;
    background-size: auto 100%;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 7.4px;
    margin: 0 5px;
}

.lxc-advanced-settings-title {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: $font-heading-bold;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.tox-tinymce,
.lxc-advanced-settings-block {
    margin-bottom: 32px;
}

.lxc-advanced-settings-block-title {
    @extend .lxc-unit-title;
}

.lxc-advanced-settings-block-Description {
    @extend .lxc-unit-description;
}

.lxc-advanced-settings-form {
    padding: 10px;
    background: $brand-light-background;
    border: 1px solid $brand-border-color;
    border-radius: 5px;
    margin-top: 8px;
}

.lxc-advanced-settings-label {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: normal;
    margin: 0 0 5px;
}

.lxc-advanced-settings-note {
    font-size: 14px;
    line-height: normal;
    margin-top: 16px;
}

.lxc-advanced-settings-field {
    @extend .lxc-unit-form-field;
}

.lxc-advanced-hint-wrapper {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-of-type) {
        margin-bottom: 13px;
    }

    .lxc-advanced-settings-field {
        width: calc(100% - 30px);
    }
}

.lxc-advanced-settings-another-field-btn {
    @extend .lxc-unit-another-btn;
    margin-top: 16px;
}

.lxc-advanced-settings-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: map-get($screen, "mobile")){
        flex-wrap: wrap;
    }
}

.lxc-advanced-settings-col-half {
    width: calc(50% - 4px);

    @media (max-width: map-get($screen, "mobile")){
        width: 100%;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.lxc-advanced-settings-select {
    @extend .lxc-unit-form-select;
}

// ToDo: replase on redactor
.lxc-test-redactor {
    width: 100%;
    height: 216px;
    border: 1px solid $brand-border-color;
    border-radius: 5px;
    margin-top: 8px;
}


// Editor [3.2.0]

.lxc-unit-editor-wrapper .tox {
    border: none;
    margin-top: 8px;

    &:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
        border-right: none;

        &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 34px;
            background: $brand-border-color;
            position: relative;
        }

        &:first-of-type {
            @media (max-width: map-get($screen, "tablet")) {
                width: 100%;
                padding-bottom: 5px;
                margin-bottom: 5px;
                position: relative;

                &:after {
                    width: calc(100% + 10px);
                    height: 1px;
                    position: absolute;
                    top: 100%;
                    left: -5px;
                }
            }
        }
    }

    .tox-editor-container {
        border: 1px solid $brand-border-color;
        border-radius: 5px;
    }

    .tox-toolbar {
        background: #e5ecf0;
        padding: 6px 4px;
    }

    .tox-edit-area {
        border-top: 1px solid $brand-border-color;
    }

    .tox-tbtn__select-chevron svg {
        fill: $brand-color-dark;
    }

    .tox-tbtn {
        width: 28px;
        height: 28px;
        margin-right: 7px;

        svg {
            transform: scale(1, -1);
        }

        &:hover,
        &:focus {
            cursor: pointer;
            background: $brand-light-background;

            .tox-tbtn__select-label {
                cursor: pointer;
            }

            svg {
                fill: $brand-color-dark;
            }
        }

        &--select {
            width: 135px;
            height: auto;
            padding: 9px 4px;
            border: 1px solid $brand-color-light;
            background: #fff;
            justify-content: space-around;
            margin-right: 14px;

            @media (max-width: map-get($screen, "tablet")) {
                width: 100%;
                box-sizing: border-box;
                max-width: 100%;
                margin-right: 0;
                justify-content: space-between;
                padding: 9px 8px;
            }
        }

        &--active {
            background: $brand-color-dark !important;
            color: #fff;
            border-radius: 3px 3px 0 0;
            
            .tox-tbtn__select-label {
                color: #fff !important;
            }
            
            &:hover {
                color: #fff;

                svg {
                    fill: #fff;
                }
            }

            svg {
                fill: #fff;
                transform: none;
            }
        }

        .tox-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
        }

        &:disabled .tox-icon {
            opacity: .5;
        }

        //.tox-tbtn svg
        &[title="Bold"] svg,
        &[title="Italic"] svg,
        &[title="Blockquote"] svg,
        &[title="Source code"] svg,
        &[title="Insert/edit link"] svg,
        &[title="Insert/edit image"] svg,
        &[title="Undo"] svg,
        &[title="Redo"] svg {
            display: none;
        }

        &[title="Bold"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-bold.svg') no-repeat center center;
            width: 9px;
            height: 11px;
        }

        &[title="Italic"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-italic.svg') no-repeat center center;
            width: 5px;
            height: 11px;
        }

        &[title="Source code"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-code.svg') no-repeat center center;
            width: 15px;
            height: 14px;
        }

        &[title="Blockquote"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-blockquote.svg') no-repeat center center;
            width: 20px;
            height: 13px;
        }

        &[title="Insert/edit link"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-link.svg') no-repeat center center;
            width: 16px;
            height: 16px;
        }

        &[title="Insert/edit image"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-image.svg') no-repeat center center;
            width: 20px;
            height: 15px;
        }

        &[title="Undo"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-undo.svg') no-repeat center center;
            width: 16px;
            height: 15px;
        }

        &[title="Redo"] .tox-icon {
            background: url('../../components/UnitEditorWidget/images/editor-redo.svg') no-repeat center center;
            width: 16px;
            height: 15px;
        }
    }

    .tox-toolbar__group {
        padding: 0 2px;
    }

    .tox-tbtn--bespoke .tox-tbtn__select-label {
        font-size: 14px;
        line-height: normal;
        color: $brand-color-dark;
        letter-spacing: 1px;
        margin: 0;
    }
}

.tox-menu {
    &.tox-collection.tox-collection--list {
        max-width: 134px;
        box-sizing: border-box;
        border-radius: 0 0 3px 3px !important;
        margin-top: -1px;
        border-top: none;
        border-color: $brand-color-light;
    }

    .tox-collection__item-icon {
        display: none !important;
    }
}

.tox .tox-collection--list {
    .tox-collection__group {
        max-height: 202px;
        overflow: auto;
        padding: 0 !important;
    }

    .tox-collection__item--active:not(.tox-collection__item--state-disabled):not(.tox-collection__item--enabled) {
        background: #ccd8e1 !important;

        .tox-collection__item-label * {
            color: $brand-color-dark !important;
        }
    }

    .tox-collection__item {
        padding: 8px 8px 9px !important;

        &:hover {
            background: #ccd8e1 !important;
        }

        &--enabled,
        &--enabled:hover {
            background: $brand-color !important;

            .tox-collection__item-label * {
                color: #fff !important;
            }
        }
    }

    .tox-collection__item-label {
        margin-left: 0 !important;

        > * {
            font-size: 16px !important;
            font-weight: normal !important;
            line-height: normal;
            padding: 0 !important;
            font-family: $font-normal !important;
            color: $brand-color-dark;
            text-transform: none !important;
        }
    }
}



// Editor [2.6.1]

.lxc-unit-editor-wrapper .mce-tinymce {
    border: 1px solid $brand-border-color;
    background-color: #f5f7f9;
    border-radius: 5px;
    counter-reset: answer-item-counter;
    margin-top: 8px;
    overflow: hidden;
    margin-bottom: 32px;

    .mce-top-part {
        border-bottom: 1px solid $brand-border-color;

        &:before {
            box-shadow: none;
        }
    }

    .mce-stack-layout-item {
        border-top: none;
    }

    .mce-btn-group {
        max-width: 100%;
        box-sizing: border-box;

        &:not(:first-child) {
            border-left: none;
            position: relative;
            padding-left: 3px;

            &:before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 34px;
                background: $brand-border-color;
                position: absolute;
                top: 0;
                left: -2px;
            }
        }

        &:first-of-type {
            @media screen and (orientation: portrait), screen and (max-width: 600px) {
                padding-bottom: 8px;
                margin-bottom: 8px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    width: calc(100% + 16px);
                    height: 1px;
                    bottom: 0;
                    left: -8px;
                    background: $brand-border-color;
                }
            }
        }

        &:nth-of-type(2) {
            margin-left: 0;
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }

    .mce-flow-layout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .mce-caret {
        width: 20px;
        height: 20px;
        background: url('../../components/UnitEditorWidget/images/select-arrow.svg') no-repeat center center;
        border: none;
        top: 3px;
        right: 0;
        transform: scale(1, -1);
    }

    .mce-toolbar {
        background: #e5ecf0;
        padding: 6px 4px;

        @media screen and (orientation: portrait), screen and (max-width: 600px) {
            padding: 6px 8px;
        }
    }

    .mce-btn {
        margin-left: 0;
        margin-right: 7px;
        border: none;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;

        @media screen and (orientation: portrait), screen and (max-width: 600px) {
            margin-right: 4px;
        }

        @media (max-width: map-get($screen, "extra-small")) {
            margin-right: 3px;
        }

        button {
            padding: 0;
            border-radius: 3px;
        }

        &.mce-active {
            &:hover,
            &:focus {
                background-color: transparent;
            }

            button {
                background: #f5f7f9;
                opacity: 1 !important;
            }
        }

        &:not(.mce-menubtn) {
            &.mce-disabled {
                button {
                    &:hover,
                    &:focus {
                        opacity: .4;
                    }
                }
            }

            button {
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: map-get($screen, "extra-small")) {
                    width: 25px;
                    height: 25px;
                }

                &:hover,
                &:focus {
                    opacity: .7;
                }
            }
        }

        &.mce-menubtn {
            width: 135px;
            height: auto;
            padding: 7px 4px;
            border: 1px solid #99b2c4;
            background: #fff;
            justify-content: space-around;
            margin-right: 14px;
            margin-left: 2px;
            box-sizing: border-box;
            border-radius: 3px;

            @media screen and (orientation: portrait), screen and (max-width: 600px) {
                width: 600px;
                max-width: 100%;
                box-sizing: border-box;
                margin: 0;
            }

            &.mce-fixed-width {
                span {
                    width: auto;
                }
            }

            &.mce-opened {
                background: #003e6b !important;
                color: #fff;
                border-radius: 3px 3px 0 0;

                .mce-txt {
                    color: #fff;
                }

                .mce-caret {
                    background: url('../../components/UnitEditorWidget/images/select-arrow-focus.svg') no-repeat center center;
                    transform: none;
                }
            }

            button {
                padding: 0;
                width: 100%;
                background: transparent;
            }

            .mce-txt {
                font-size: 14px;
                line-height: 20px;
                color: #003e6b;
                letter-spacing: 1.5px;
                margin: 0;
                padding-left: 4px;
                font-family: $font-normal;
            }
        }

        .mce-ico {
            &:before {
                display: none;
            }
        }

        .mce-i-bold {
            background: url('../../components/UnitEditorWidget/images/editor-bold.svg') no-repeat center center;
            width: 9px;
            height: 11px;
        }

        .mce-i-italic {
            background: url('../../components/UnitEditorWidget/images/editor-italic.svg') no-repeat center center;
            width: 5px;
            height: 11px;
        }

        .mce-i-code {
            background: url('../../components/UnitEditorWidget/images/editor-code.svg') no-repeat center center;
            width: 15px;
            height: 14px;
        }

        .mce-i-blockquote {
            background: url('../../components/UnitEditorWidget/images/editor-blockquote.svg') no-repeat center center;
            width: 20px;
            height: 13px;
        }

        .mce-i-link {
            background: url('../../components/UnitEditorWidget/images/editor-link.svg') no-repeat center center;
            width: 16px;
            height: 16px;
        }

        .mce-i-image {
            background: url('../../components/UnitEditorWidget/images/editor-image.svg') no-repeat center center;
            width: 20px;
            height: 15px;
        }

        .mce-i-undo {
            background: url('../../components/UnitEditorWidget/images/editor-undo.svg') no-repeat center center;
            width: 16px;
            height: 15px;
        }

        .mce-i-redo {
            background: url('../../components/UnitEditorWidget/images/editor-redo.svg') no-repeat center center;
            width: 16px;
            height: 15px;
        }
    }
}

.mce-menu.mce-in.mce-animate {
    min-width: 135px;
    max-width: 135px;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px !important;
    padding: 0;
    margin-top: -1px;
    border-top: none;
    border-color: #99b2c4;
    z-index: 65537 !important;

    @media screen and (orientation: portrait), screen and (max-width: 600px) {
        max-width: calc(100% - 80px);
        width: 100% !important;
    }

    .mce-stack-layout {
        width: 100% !important;
        max-height: 202px;
        overflow-y: auto;
    }

    .mce-menu-item {
        padding: 8px 4px 9px;
        border-left: none;
        margin-bottom: 0;
        
        &:hover,
        &:focus {
            background: #ccd8e1;
        }

        &.mce-active {
            background: #336589 !important;

            .mce-text {
                color: #fff;
            }
        }
    }

    .mce-text {
        font-size: 16px !important;
        font-weight: normal !important;
        line-height: normal;
        padding: 0 !important;
        font-family: BioSans_Regular, Arial, sans-serif !important;
        color: #003e6b;
        text-transform: none !important;
    }
}

.mce-window.mce-in {
    min-width: 290px;
    max-width: 100%;
    height: auto !important;
    background: #003e6b;
    border-radius: 5px;

    &,
    *:not(.mce-ico) {
        font-family: $font-normal;
        height: auto !important;
        width: auto !important;
        box-sizing: border-box;
    }

    //*:not(.mce-window-head .mce-close) {
    //    position: static;
    //}

    .mce-foot {
        background: inherit;
        padding: 0 10px;
        margin: 30px 0 10px;

        .mce-btn.mce-primary {
            text-align: center;
            background: #e5ecf0;
            font-size: 14px;
            border-radius: 3px;

            button {
                color: $brand-color-dark;
            }
        }
    }

    .mce-window-head,
    .mce-foot {
        border: none;
    }

    .mce-window-body {
        padding: 0 10px;

        .mce-abs-layout {
            overflow: visible;
        }

        .mce-container-body {
            white-space: normal;
            height: auto !important;

           > .mce-label {
                width: 100% !important;
            }
        }
    }

    .mce-abs-layout-item {
        position: static;
        height: auto !important;
        width: 100% !important;
    }

    .mce-foot {
        .mce-btn:last-of-type {
            display: none;
        }
    }
    
    .mce-window-head {
        margin-bottom: 15px;
        .mce-close {
            &:hover {
                i {
                    opacity: .7;
                }
            }

            i {
                color: #fff;
            }
        }
    }

    .mce-formitem {
        margin-bottom: 20px;
    }

    .mce-close {
        top: 22px;
        right: 15px;
    }

    .mce-title {
        font-size: 18px;
        color: #fff;
        margin-top: 11px;
    }
    
    .mce-label {
        font-size: 14px;
        color: #fff;
    }

    .mce-textbox {
        @extend .lxc-unit-form-field;
        width: 100% !important;
        box-sizing: border-box;
    }

    .mce-checkbox {
        margin-top: 5px;
    }
}