//  PMS: TBD
//  HEX: 003E6B
//  R:0 G:62 B:107
//  C:100 M:80 Y:33 K:20
$primary-1: #003E6B;

//  PMS: 302
//  HEX: 005480
//  R:0 G:84 B:128
//  C:100 M:25 Y:0 K:50
$primary-2: #005480;

//  PMS: 285
//  HEX: 007DC3
//  R:0 G:99 B:195
//  C:91 M:43 Y:0 K:0
$primary-3: #007DC3;

//  PMS: 187U/1807C
//  HEX: A41034
//  R:64 G:16 B:52
//  C:8 M:100 Y:65 K:24
$primary-4: #A41034;

//  PMS: TBD
//  HEX: ED3431
//  R:237 G:52 B:49
//  C:31 M:94 Y:88 K:0
$secondary-1: #ED3431;

//  PMS: TBD
//  HEX: FAAC48
//  R:250 G:172 B:75
//  C:0 M:37 Y:80 K:0
$secondary-2: #FAAC48;

//  PMS: TBD
//  HEX: 333333
//  R:51 G:51 B:51
//  C:69 M:63 Y:62 K:58
$neutral-1: #333;

//  PMS: TBD
//  HEX: 666666
//  R:102 G:102 B:102
//  C:60 M:51 Y:51 K:20
$neutral-2: #666;

//  PMS: TBD
//  HEX: B2B2B2
//  R:178 G:178 B:178
//  C:31 M:25 Y:25 K:0
$neutral-3: #B2B2B2;

//  PMS: TBD
//  HEX: E7E7E7
//  R:231 G:231 B:231
//  C:8 M:6 Y:6 K:0
$neutral-4: #E7E7E7;

$neutral-5: #F7F7F7;

$burgundy: #A41034;
$blue-1: #0063C3;
$blue-3: #66A1DB;
$blue-4: #004F89;
$navy-0: #002B49;
$navy-1: #003E6B;
$navy-2: #336589;
$navy-3: #668BA6;
$navy-4: #99B2C4;
$navy-5: #CCD8E1;
$navy-6: #E5ECF0;
$navy-7: #F5F7F9;
$red-1: #ED3431;
$yellow-1: #FAAC48;
$cyan-1: #00AEEF;
$success-1: #84BE60;
$charcoal-1: #333;
$charcoal-2: #666;
$charcoal-3: #B2B2B2;
$charcoal-4: #E7E7E7;

$theme-colors: (
  "primary": $primary-1,
  "primary-1": $primary-1,
  "primary-2": $primary-2,
  "primary-3": $primary-3,
  "primary-4": $primary-4,
  "secondary-1": $secondary-1,
  "secondary-2": $secondary-2,
  "neutral-1": $neutral-1,
  "neutral-2": $neutral-2,
  "neutral-3": $neutral-3,
  "neutral-4": $neutral-4,
  "neutral-5": $neutral-5,
  "danger": $secondary-1,
  "transparent": transparent,
  "navy-5": $navy-5,
);

$body-bg: $navy-7;
$body-color: $charcoal-2;
$content-bg: #FFF;

$h1-font-size: 42px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$h6-font-size: 15px;

// Slightly more curved border radius than Bootstrap defaults.
$border-radius: 0.3rem;
$border-radius-lg: 0.35rem;
$border-radius-sm: 0.25rem;

// Shorter line-height for text than bootstrap default of 1.5
$line-height-base: 1.3;

// Change color of lines in a table.table:
$table-border-color: $navy-6;
